<!DOCTYPE html>
<html>
  <head>
    <title>Air2d2</title>
    <link rel="icon" type="image/gif/png" href="http://res.cloudinary.com/candycanetrain/image/upload/v1490346885/R2D2-128_dpposm.png"/>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyDPVP3wKMASAYZ-UdQCxBKfuUZsp5OcrxE"%>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    

    <%= yield %>
  </body>
</html>
