<!DOCTYPE html>
<html>
  <head>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-98179155-1', 'auto');
      ga('send', 'pageview');

    </script>
    <title>Air2d2</title>
    <link rel="icon" type="image/gif/png" href="http://res.cloudinary.com/candycanetrain/image/upload/v1490346885/R2D2-128_dpposm.png"/>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyDPVP3wKMASAYZ-UdQCxBKfuUZsp5OcrxE"%>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>


    <%= yield %>
  </body>
</html>
