<!DOCTYPE html>
<html>
  <head>
    <title>Fsp</title>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyDPVP3wKMASAYZ-UdQCxBKfuUZsp5OcrxE"%>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    

    <%= yield %>
  </body>
</html>
